body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.2em;
  font-size: 2rem;
  text-shadow: 4px 4px 4px purple;
  border-bottom: solid 3px rgb(115, 115, 114);
}

html {
  font-size: 20px;
}

body {
  font-size: 20px;
}

.text-m {
  color: skyblue;
}

.text-p {
  color: rgb(255, 193, 203);
}

.pink {
  color: rgb(255, 193, 203);
}

.skyblue {
  color: skyblue;
}

#basic > p {
  font-weight: bold;
}